<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <h1>SignUp</h1>
    </title>
</head>
<body>
    <div class="container">
      <h2>Register</h2>
      <form method="POST" action="{% url 'handle_signup' %}">
        {% csrf_token %}
          <label for="username">Username</label>
          <input type="text" name="username" required>
          <br><br>
          <label for="password">Password</label>
          <input type="password"  name="password" required>
          <br><br>
          <label >Email</label>
          <input type="email" name="email_address" required>
          <br><br>
          <label >Mobile</label>
          <input type="text"  name="mobile" required>
          <br><br>
          <label>Address</label>
          <textarea name = "address"></textarea>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
  
</html>